<span class="make-me-blink">
    <!--
        The ng-transclude directive will be replaced with whatever was
        passed in as content into the `blink` directive
    -->
    <ng-transclude></ng-transclude>
</span>
