<h3>Star Wars characters</h3>
Query: <input ng-model="starwars.query">

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Weight</th>
            <th>Height</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="character in starwars.people|filter:starwars.query">
            <td>{{ character.name }}</td>
            <td>{{ character.gender }}</td>
            <td>{{ character.mass }}</td>
            <td>{{ character.height }}</td>
        </tr>
    </tbody>
</table>

<button ng-click="starwars.getMore()" ng-disabled="starwars.loading">Get more...</button>
<span ng-show="starwars.loading">Loading...</span>
