<p>Showcase some of angulars basic features</p>

<ul>
    <li><a href="#basic/expression">Expressions</a></li>
    <li><a href="#basic/controller">Controller</a></li>
    <li><a href="#basic/looping">Looping</a></li>
    <li><a href="#basic/directive">Directive</a></li>
    <li><a href="#basic/scope">Isolated scope</a></li>
</ul>
