<h4>One time binding</h4>
The tickers initial value is: {{ ::basic.ticker }}

<h4>Dual binding (default)</h4>
The current ticker value is: {{ basic.ticker }}

<button ng-click="basic.incrementTicker()">Increment</button>
