<strong>Expression:</strong>
<code>
    <span ng-non-bindable>{{ 12 / 4 }} = </span>{{ 12 / 4 }}
</code>
<br/>
<strong>Filter:</strong>
<code>
    <span ng-non-bindable>{{ 10 / 3 | number:12}} = </span>{{ 10 / 3 | number:12 }}
</code>
