<div ng-controller="BasicController as basic">
<p>List all lettters in the partial alphabet</p>
<ul>
    <li ng-repeat="letter in basic.alphabet">{{ letter }}</li>
</ul>

<p>In UPPERCASE letters</p>
<ul>
    <li ng-repeat="letter in basic.alphabet">{{ letter | uppercase }}</li>
</ul>

<p>Containing the letter 'o'</p>
<ul>
    <li ng-repeat="letter in basic.alphabet | contains: 'o'">{{ letter }}</li>
</ul>
</div>
