<p>By default scope is inherited from the controller to directives used. Thus
repeating the same directive multiple times might cause unwanted behaviour.</p>

<h3>Inherited scope</h3>
<enter-something></enter-something>
<enter-something></enter-something>

<h3>Isolated scope</h3>
<enter-something-isolated></enter-something-isolated>
<enter-something-isolated></enter-something-isolated>
