<p>Here is a list of all signed up participants</p>

<table>
    <thead>
        <tr><th>Name</th></tr>
    </thead>
    <tbody>
        <!--
        By default Angular tracks repeated items using their identity, thus not
        allowing duplicates.

        Tracking by something else, such as index, works around this.

        https://code.angularjs.org/1.4.8/docs/api/ng/directive/ngRepeat#tracking-and-duplicates
        -->
        <tr ng-repeat="name in backoffice.registrations track by $index">
            <td>{{ name }}</td>
        </tr>
    </tbody>

    <a href="#signup">Go back to signup</a>
</table>
