<p>Enter your name in this form and we will add you to our list of VIP<p>
<form name="signup.userForm" novalidate>
    Name:
    <input type="text"
        placeholder="Your name"
        ng-model="signup.userForm.name"
        ng-minlength="5"
        ng-maxlength="12"
        ng-required="true" />

    <div ng-show="signup.userForm.name.$invalid">
        You must enter a valid name between 5 and 12 characters.
    </div>
    <input type="button" ng-click="signup.reset()" ng-disabled="!signup.userForm.$dirty" value="Reset" />
    <input type="submit" ng-click="signup.signupUser()" value="Signup" />
</form>

<a href="#signup/backoffice">Go backoffice</a>

<p>Form state:</p>
<code>
    signup.userForm.$dirty = {{ signup.userForm.$dirty }}<br>
    signup.userForm.$invalid = {{ signup.userForm.$invalid }}<br>
    signup.userForm.name = {{ signup.userForm.name }}<br>
    signup.userForm.$error = {{ signup.userForm.$error }}<br>
    signup.userForm.$submitted = {{ signup.userForm.$submitted }}
</code>
{{ signup.userForm.email }}
