<p>ng-nonsens is a tiny angular application showing of some of the core
    features.</p>
<ul>
    <li><a href="#basic">Basic</a> is focused on single use of features</li>
    <li><a href="#signup">Signup</a> is illustraing a bigger use-case</li>
    <li><a href="#starwars">Star Wars</a> illustraing HTTP calls</li>
</ul>
